# Compiled Object files
*.slo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lib

# Executables
*.out

#VisualStudio Files
*.sdf
*.opensdf
*.suo
ipch/
[Bb]uild/
obj/